
/* On May 3, 2020, you had an idea to build an app that would allow for data collection surrounding mental health episodes
the goal would be to enable husbands, wives, friends and partners as well as parents, etc. to better prepare for a response to an episode
of depression or suicidal thoughts, etc. They just fill out a survey asking how they responded in the past to situations and an algorithm spits
out a formula based on what has worked in the past. The survey will also take into consideration the feelings and health of the person dealing with the 
person in crisis. */

.module_container {
  display: flex;
  border: 5px solid blue;
  height: 50%;
  width: 50%;
}

.buttons_and_instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50vh;
  width: 25vw;
}

.just_buttons {
  display: flex;
  justify-content: space-evenly;
  width: 75%;
} /* This class is just for the Fetch Info and Erase Info buttons */

#button {
height: 30px;
padding: 10px;
border-radius: 2px;
}
