.wrapper-box {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  border: 2px solid black;
  background-color: grey;
  height: 500px;
  width: 300px;
}

.top-half-box {
    height: 100px;
    width: 100px;
    border: 2px solid blue;
}
